apiVersion: v1
kind: Secret
metadata:
  name: axion-postgres-secret
  namespace: axion-minikube
type: Opaque
stringData:
  POSTGRES_DB: "axiondb"
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "<your-local-postgres-password>"
